/* custom colors */
:root {
	/* global light mode*/
	--background-color: #ffffff;
	--background-input: #f6f8fa;
	--text-color-icons: #24292e;
	--color-buttons: #239636;
	--color-buttons-hover: #2ea043;
	--text-buttons: #ffffff;
	--hyper-links: #58a6ff;
	--accent-color: #58a6ff;
	--secondary-buttons: #6f42c1;
	--warning-color: #ffd33d;
	--error-color: #cb2431;
	--lines: #d0d7de;
	--switch-bg: #262626;
	--switch-box-shadow: 0px 0px 5px #0000003f;
	/* font-sizes */
	--input: 1em;
	--input-mobile: 0.9em;
}

/* global dark mode */
body:has(#darkmode:checked) {
	--background-color: #161b22;
	--background-input: #0d1117;
	--text-color-icons: #f0f6fc;
	--lines: #30363d;
	--switch-bg: #fefefe;
	--switch-box-shadow: 0px 0px 5px #000000f9;
}
