/* HOMEPAGE */
#homepage {
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* search bar */
input {
  transition: 0.2s ease-in-out;
}

input[type="text"] {
  border: solid 2px var(--lines);
  border-radius: 6px 0 0 6px;
  padding: 0.5em;
  background: var(--background-input);
}

button[type="submit"] {
  position: absolute;
  background: var(--color-buttons-links);
  transform: translateX(-2px);
  border-radius: 0 6px 6px 0;
  padding: 0.5em;
  color: var(--text-buttons-links);
  border: 2px solid var(--lines-button);
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

/* searchbar div to put button and search together*/
.searchbar {
  transform: translateX(-1.7em);
}
