/* HOMEPAGE */
#homepage {
	height: 100vh;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

/* search bar */
input {
	transition: 0.2s ease-in-out;
}

input[type="text"] {
	border: solid 2px var(--lines);
	border-radius: 6px 0 0 6px;
	padding: 0.5em;
	background: var(--background-input);
	color: var(--text-color-icons);
	font-size: var(--input);
}

input[type="text"]:focus {
	outline: none;
	border: solid 2px var(--color-buttons);
}

/* search */
button[type="submit"] {
	position: absolute;
	background: var(--color-buttons);
	transform: translateX(-2px);
	border-radius: 0 6px 6px 0;
	padding: 0.5em;
	color: var(--text-buttons);
	border: 2px solid var(--color-buttons);
	font-weight: 600;
	cursor: pointer;
	font-size: var(--input);
}

button[type="submit"]:hover {
	background: var(--color-buttons-hover);
	border: 2px solid var(--color-buttons-hover);
}

button[type="submit"]:active {
	background: var(--color-buttons);
	border: 2px solid var(--color-buttons);
}

/* searchbar div to put button and search together*/
.searchbar {
	transform: translateX(-2em);
}

/* error message */
#error__message {
	color: var(--error-color);
	font-weight: 600;
}
